<div>
  <%= image_tag @post_image.get_image %><!--特定IDの画像を取得-->
  
  
  <p>ショップ名：<%= @post_image.shop_name %></p><!--特定IDの店名を表示-->
  
  <p>説明：<%= @post_image.caption %></p><!--特定IDの説明文を表示-->
  
  <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
  
  <p>ユーザーネーム：<%= @post_image.user.name %></p><!--特定IDと結びつくuserモデルのnameカラムを表示-->
 
  <p>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  
  
  <% if @post_image.user == current_user %><!--もし投稿者がﾛｸﾞｲﾝ中のﾕｰｻﾞｰだったら-->
    <%= link_to "削除", post_image_path(@post_image.id), method: :delete %>
  <% end %>
</div>